@import "../variables";

.admin-messages {
  border-radius: 10px;
  background-color: $secondary;
  margin: 2em auto;
  padding: 1em;
  color: $white;
  
  a {
    color: $white;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}
